@model Store.Models.Order

@{
    ViewBag.Title = "Delete";
}

<hr />
<h2>Are you sure you want to delete this order?</h2>
<fieldset>
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>User</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Notes)</th>
            <th>@Html.DisplayNameFor(model => model.OrderStatus)</th>
            <th>@Html.DisplayNameFor(model => model.Recipient)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Id)</td>
            <td>@Html.DisplayFor(model => model.User.UserName)</td>
            <td>@Html.DisplayFor(model => model.Date)</td>
            <td>@Html.DisplayFor(model => model.Notes)</td>
            <td>@Html.DisplayFor(model => model.OrderStatus)</td>
            <td>@Html.DisplayFor(model => model.Recipient)</td>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Yes" class="btn" />
        <a href="#" class="btn" id="no-btn">No</a>
    </div>
}
