<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Store</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajax")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Store", "Index", "Home", new { area = "" }, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                        {
                            <li>
                                <div class="btn-group">
                                    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                                        Administration
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Manage Products", "Index", "Products", new { area = "Admin" }, null)</li>
                                        <li>@Html.ActionLink("Manage Categories", "Index", "Categories", new { area = "Admin" }, null)</li>
                                        <li>@Html.ActionLink("Manage Users", "Index", "Users", new { area = "Admin" }, null)</li>
                                        <li>@Html.ActionLink("Manage Orders", "Index", "Orders", new { area = "Admin" }, null)</li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span11">
                @RenderBody()
            </div>
            <div class="span1">
                @RenderSection("Aside", false)
            </div>
        </div>
        <footer class="modal-footer navbar-fixed-bottom">
            <p>&copy; @DateTime.Now.Year - Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</body>
</html>
