@model Store.Models.Category

@{
    ViewBag.Title = "Create Category";
}

<h2>Create Category</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Category</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                @Html.CheckBox("HasParent", false, new { id = "hasParent" }) <span>Has parent</span>
                <p id="loading" class="loading-info">Loading categories...</p>
            </div>
        </div>

        <div class="control-group" id="parent-categories" style="display: none">
            <div class="controls"></div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}

<script>
    $('#hasParent').change(function () {
        if ($(this).is(":checked")) {
            $("#loading").show();

            $.ajax("/Admin/Categories/CategoriesDropdown", {
                success: function (data) {
                    $("#loading").hide();
                    $("#parent-categories div").html(data);
                    $("#parent-categories").show();
                }
            });
        }
        else {
            $("#parent-categories div").html("");
            $("#parent-categories").hide();
        }
        $('#textbox1').val($(this).is(':checked'));
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

